books/MachineLearningProbabilisticPerspective.pdf filter=lfs diff=lfs merge=lfs -text
books/The_Cross_Entropy_Method_A_Unified_Approach_Rubinstein_Kroese_2004.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/SamplingTechniques/practical-sampling-techniques-statistics-a-series-of-textbooks-and-monographs-2nbsped.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/SamplingTechniques/sampling-and-estimation-from-finite-populations-wiley-series-in-probability-and-statistics.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/SamplingTechniques/some-theory-of-sampling_Demming_1950.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/SequentialAnalysis/handbook-of-sequential-analysis-statistics-a-series-of-textbooks-and-monographs-1nbsped.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Information-Theoretic_Safe_Bayesian_Optimization_Bottero_2024.pdf filter=lfs diff=lfs merge=lfs -text
books/scholkopf2002learning_with_kernels.pdf filter=lfs diff=lfs merge=lfs -text
books/Bishop-Pattern-Recognition-and-Machine-Learning-2006.pdf filter=lfs diff=lfs merge=lfs -text
articles/A_Tutorial_on_Markov_Chain_Monte-Carlo_and_Bayesian_Modeling_Haugh_ImperialCollege_2021.pdf filter=lfs diff=lfs merge=lfs -text
books/Bayesian_Choice_Christian_Robert_2ndEd_2007.pdf filter=lfs diff=lfs merge=lfs -text
books/robert2004monte_carlo_statistical_methods.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/StatisticalRethinkingABayesianCourseMcElreath/statistical-rethinking-a-bayesian-course-with-examples-in-r-and-stan-2ed.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Vanilla_Bayesian_Optimization_Performs_Great_in_High_Dimensions_Hvarfner_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/NeurIPS-2019-multi-objective-bayesian-optimisation-with-preferences-over-objectives-Paper.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Diversity-Guided_Multi-Objective_Bayesian_Optimization_With_Batch_Evaluations_Lukovic_MIT_CSAIL_NeurIPS_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Taking_the_Human_Out_of_the_Loop-A_Review_of_Bayesian_Optimization_Shahriari_UBC_2016.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Improved_Max-value_Entropy_Search_for_Multi-objective_Bayesian_Optimization_with_Constrain_Fernandez-Sanchez_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/PracticalBayesianOptimization_lizotte_phd_thesis_2008.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Pareto_Front-Diverse_Batch_Multi-Objective_Bayesian_Optimization_Ahmadianshalchi_2024.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/StatisticalInferenceBodhisatvaSen2020/Statistical_Inference_Lecture_Notes_BodhisatvaSen_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/GaussianProcesses/Deep_Gaussian_Processes-A_Survey_Jakkala_2021.pdf filter=lfs diff=lfs merge=lfs -text
books/Bayesian_Optimization_Roman_Garnett_2023.pdf filter=lfs diff=lfs merge=lfs -text
books/Bayesian_Optimization_and_Data_Science_Archetti_1stEd_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/BayesianNonParametricModels/IntroBayesianNonParametrics_Teh_UCL_2011.pdf filter=lfs diff=lfs merge=lfs -text
articles/BayesianNonParametricModels/Bayesian_Nonparametric_Inference_Why_and_How_Mueler_nihms_2013.pdf filter=lfs diff=lfs merge=lfs -text
articles/BayesianNonParametricModels/TutorialNonParametricBayesianMethods_Ghahramani_Cambridge_2005.pdf filter=lfs diff=lfs merge=lfs -text
articles/VariationalMethods/An_Introduction_to_Variational_Autoencoders_Kingma_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/VariationalMethods/Auto-Encoding_Variational_Bayes_Kingma_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/VariationalMethods/Stochastic_Backpropagation_and_Approximate_Inference_in_Deep_Generative_Models_Rezende_2014.pdf filter=lfs diff=lfs merge=lfs -text
articles/VariationalMethods/Variational_Inference-A_Review_for_Statisticians_Blei_2018.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/HypothesisTesting/Student_t-test_Wikipedia.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/MixtureModeling/An_overview_of_Gaussian_Mixture_Models.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/MixtureModeling/Data-Weighted_Multivariate_Generalized_Gaussian_Mixture_Model-Application_to_Point_Cloud_Robust_Registration_Ge_2023.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/MixtureModeling/Gaussian_Mixture_Model_A_Comprehensive_Guide_to_Understanding_and_Implementing_GMM_from_Scratch_TowardsDataScience.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/MixtureModeling/Mixture_model_Wikipedia.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/MixtureModeling/Multivariate_Normal_Variance_Mixtures_Eric_Hintz_2024.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/StatisticalDistributions/Beta_distribution-Wikipedia.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/StatisticalDistributions/Cauchy_distribution_Wikipedia.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/StatisticalDistributions/Chi-squared_distribution-Wikipedia.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/StatisticalDistributions/Gamma_distribution-Wikipedia.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/StatisticalDistributions/Multivariate_normal_distribution-Wikipedia.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/StatisticalDistributions/Multivariate_t-distribution_Wikipedia.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/BayesianDataAnalysisGellman/BayesianDataAnalysisThirdEdition.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/A_Tutorial_on_Bayesian_Optimization_of_Expensive_Cost_Functions_Brochu_2010.pdf filter=lfs diff=lfs merge=lfs -text
books/ProbablisticMachineLearningIntroMurphy2021Draft.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/Man_as_an_Intuitive_Statistician_Peterson_Beach_1967.pdf filter=lfs diff=lfs merge=lfs -text
books/An_Introduction_to_Stochastic_Modeling_Taylor_3Ed_1998.pdf filter=lfs diff=lfs merge=lfs -text
books/Markov_Chains_Gibbs_Fields_Monte_Carlo_Simulation_and_Queues_Bremaud_1998.pdf filter=lfs diff=lfs merge=lfs -text
articles/GraphicalModels/Graphical_models_exponential_families_and_variational_inference_by_Martin_Wainwright_and_Michael_Jordan.pdf filter=lfs diff=lfs merge=lfs -text
books/BayesianReasoningAndMachineLearningBarber2007-2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/MonteCarlo/A_First_Course_in_Monte_Carlo_Methods_Sanz-Alonso_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/DimensionReduction/Modern_Dimension_Reduction_Waggoner_2021.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/DiscriminantAnalysis/Introduction-to-multivariate-statistical-analysis_Anderson_2003.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/DiscriminantAnalysis/lecture14_discriminant_analysis.pdf filter=lfs diff=lfs merge=lfs -text
articles/MonteCarlo/Intrepid_MCMC_Metropolis_Hastings_with_Exploration_Chakroborty_2024.pdf filter=lfs diff=lfs merge=lfs -text
applied_probability/books/High-Dimensional-Probability-Vershynin-UC-Irvine_2024.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/GeneralizedLinearModels/GeneralizedLinearModels_McCullagh_Nelder_1983.pdf filter=lfs diff=lfs merge=lfs -text
articles/RepresentationLearning/Occams_Razor_for_Self_Supervised_Learning-What_is_Sufficient_to_Learn_Good_Representations_Ibrahim_2024.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/StatisticalDistributions/A_Generalization_of_the_Skew-Normal_Distribution-the_Beta_Skewnormal_Mameli_2011.pdf filter=lfs diff=lfs merge=lfs -text
articles/RepresentationLearning/The_Platonic_Representation_Hypothesis_Huh_MIT_2024.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/StatisticalDistributions/Skew-Normal_Posterior_Approximations_Zhou_2023.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/MaximumLikelihood_from_Incomplete_Data_via_the_EM_Algorithm_Dempster77.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/LinearStatisticalInferenceAndItsApplication/LinearStatisticalInferenceAndItsApplicationsRao1973.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/HeavyTails/The_Fundamentals_of_Heavy_Tails-Properties_Emergence_and_Estimation_Nair_Wierman_Draft.pdf filter=lfs diff=lfs merge=lfs -text
books/Probabilistic_Artificial_Intelligence_Krause_Huebotter_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/MCTS/Monte-Carlo_Tree_Search_as_Regularized_Policy_Optimization_Grill_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/MCTS/Monte_Carlo_Tree_Search-A_Review_of_Recent_Modifications_and_Applications_Swiechowski_2022.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/Causality/A_natural_experiment_on_the_effect_of_herpes_zoster_vaccination_on_dementia_Eyting_2025.pdf filter=lfs diff=lfs merge=lfs -text
books/Patterns_Predictions_and_Actions_Hardt_2024.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/articles/Correlation_and_Causation_Wright_1921.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/A_First_Course_in_Bayesian_Statistical_Methods_1st_ed_Hoff_2009.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/All_of_Statistics_Wasserman_2004.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/Decision_theory_Parmigiani_2009.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/Optimal_Statistical_Decisions_DeGroot_2004.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/Surrogates_Gramarcy_2020.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/Theory_of_Statistics_Schervish_1995.pdf filter=lfs diff=lfs merge=lfs -text
books/Algorithmic_Learning_in_a_Random_World_2nd_ed_Vovk_2022.pdf filter=lfs diff=lfs merge=lfs -text
books/Decision_theory_Parmigiani_2009.pdf filter=lfs diff=lfs merge=lfs -text
books/Optimal_Statistical_Decisions_DeGroot_2004.pdf filter=lfs diff=lfs merge=lfs -text
books/Prediction_Learning_and_Games_Cessa-Bianci_2006.pdf filter=lfs diff=lfs merge=lfs -text
books/Statistical_Decision_Theory_and_Bayesian_Analysis_James_Berger-2nd_ed.pdf filter=lfs diff=lfs merge=lfs -text
books/Gaussian_Processes_and_Reproducing_Kernels-Connections_and_Equivalences_Kanagawa_2025.pdf filter=lfs diff=lfs merge=lfs -text
linear_algebra/articles/woodbury_matrix_identity/Updating_The_Inverse_of_Matrix_Hager_1989.pdf filter=lfs diff=lfs merge=lfs -text
