books/MachineLearningProbabilisticPerspective.pdf filter=lfs diff=lfs merge=lfs -text
books/The_Cross_Entropy_Method_A_Unified_Approach_Rubinstein_Kroese_2004.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/SamplingTechniques/practical-sampling-techniques-statistics-a-series-of-textbooks-and-monographs-2nbsped.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/SamplingTechniques/sampling-and-estimation-from-finite-populations-wiley-series-in-probability-and-statistics.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/SamplingTechniques/some-theory-of-sampling_Demming_1950.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/SequentialAnalysis/handbook-of-sequential-analysis-statistics-a-series-of-textbooks-and-monographs-1nbsped.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Information-Theoretic_Safe_Bayesian_Optimization_Bottero_2024.pdf filter=lfs diff=lfs merge=lfs -text
books/scholkopf2002learning_with_kernels.pdf filter=lfs diff=lfs merge=lfs -text
books/Bishop-Pattern-Recognition-and-Machine-Learning-2006.pdf filter=lfs diff=lfs merge=lfs -text
articles/A_Tutorial_on_Markov_Chain_Monte-Carlo_and_Bayesian_Modeling_Haugh_ImperialCollege_2021.pdf filter=lfs diff=lfs merge=lfs -text
books/Bayesian_Choice_Christian_Robert_2ndEd_2007.pdf filter=lfs diff=lfs merge=lfs -text
books/robert2004monte_carlo_statistical_methods.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/StatisticalRethinkingABayesianCourseMcElreath/statistical-rethinking-a-bayesian-course-with-examples-in-r-and-stan-2ed.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Vanilla_Bayesian_Optimization_Performs_Great_in_High_Dimensions_Hvarfner_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/NeurIPS-2019-multi-objective-bayesian-optimisation-with-preferences-over-objectives-Paper.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Diversity-Guided_Multi-Objective_Bayesian_Optimization_With_Batch_Evaluations_Lukovic_MIT_CSAIL_NeurIPS_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Taking_the_Human_Out_of_the_Loop-A_Review_of_Bayesian_Optimization_Shahriari_UBC_2016.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Improved_Max-value_Entropy_Search_for_Multi-objective_Bayesian_Optimization_with_Constrain_Fernandez-Sanchez_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/PracticalBayesianOptimization_lizotte_phd_thesis_2008.pdf filter=lfs diff=lfs merge=lfs -text
articles/bayesian_optimization/Pareto_Front-Diverse_Batch_Multi-Objective_Bayesian_Optimization_Ahmadianshalchi_2024.pdf filter=lfs diff=lfs merge=lfs -text
applied_statistics/books/StatisticalInferenceBodhisatvaSen2020/Statistical_Inference_Lecture_Notes_BodhisatvaSen_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/GaussianProcesses/Deep_Gaussian_Processes-A_Survey_Jakkala_2021.pdf filter=lfs diff=lfs merge=lfs -text
books/Bayesian_Optimization_Roman_Garnett_2023.pdf filter=lfs diff=lfs merge=lfs -text
books/Bayesian_Optimization_and_Data_Science_Archetti_1stEd_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/BayesianNonParametricModels/IntroBayesianNonParametrics_Teh_UCL_2011.pdf filter=lfs diff=lfs merge=lfs -text
articles/BayesianNonParametricModels/Bayesian_Nonparametric_Inference_Why_and_How_Mueler_nihms_2013.pdf filter=lfs diff=lfs merge=lfs -text
articles/BayesianNonParametricModels/TutorialNonParametricBayesianMethods_Ghahramani_Cambridge_2005.pdf filter=lfs diff=lfs merge=lfs -text
articles/VariationalMethods/An_Introduction_to_Variational_Autoencoders_Kingma_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/VariationalMethods/Auto-Encoding_Variational_Bayes_Kingma_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/VariationalMethods/Stochastic_Backpropagation_and_Approximate_Inference_in_Deep_Generative_Models_Rezende_2014.pdf filter=lfs diff=lfs merge=lfs -text
articles/VariationalMethods/Variational_Inference-A_Review_for_Statisticians_Blei_2018.pdf filter=lfs diff=lfs merge=lfs -text
